*{ padding: 0; box-sizing: border-box;}

body{
     
    width: 100%;
    max-width: 1080px;
    display: flex;
    height: 100%;
    max-height: max-content;
    flex-direction: column;
    justify-content: center;
    background-color: #020021;
    margin: auto;

}

header{
    display: flex;
    flex-direction: row;
    width:100%;
    height: 15%;
    background-color: #020021;
    justify-content: space-around;
    align-items: center;
    padding-top: 3%;
    flex-wrap: wrap;
}
@media(max-width:600px){
    header{
        flex-direction: column;
        align-content: center;
    }
}
header .menu{
    display: none;
}
@media (max-width:600px){
    header .menu{
    display:unset;
    background-color: #00F482;
    width: 60px;
    height: 30px;
    border-radius: 50px;
    align-self: flex-end;
    margin-left: 70%;
    margin-bottom: 5%;
    }
}

.header_logo {
    display: flex;
}
@media (max-width:600px){
    .header_logo{
        margin-bottom: 10%;
    }
}
.header_logo img{
    width: 84%;
    height: 50%;
    align-content: center;
} 

nav{
    width: 55%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
nav ul{
    list-style: none; 
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    font-size: 15px;
    display: contents;
}
nav ul li:hover{
    transform: scale(1.2);
    transition: all 200ms ease-in;
    cursor: pointer;
}
@media (max-width:600px){
    nav{
        display: none;
    }
}
main{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70%;
    background-color: #020021;
    justify-content: space-around;
    flex-wrap: wrap;
}
@media(max-width:600px){
    main{
        flex-direction: column-reverse;
        flex-wrap: wrap;
        align-content: center;
    }
}

main .musicfor{
    display: flex;
    flex-direction: column;
    width:auto;
    height:auto;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 6%;
}
@media (max-width:600px){
    main .musicfor{
        align-items: center;
        padding: 0;
    }
}

.main_everyone{
    font-size: 55px;
    font-weight:600;
    line-height: 50px;
    margin-top: 5%;
}
@media(max-width:600px){
    .main_everyone{
        height: 75px;
        font-size: 40px;
        margin-right: 15%;
    }
}

.main_millions-songs{
    font-size: 15px;
    font-weight:normal;
    opacity: 50%;
}
@media(max-width:600px){
    .main_millions-songs{
        margin-left: 10%;
        margin-top: 0%;
    }
}

.main_hit-it{
    background-color: #00F482;
    color: white;
    width: 150px;
    height: 40px;
    border-radius: 50px;
    font-weight: bold;
    margin-top: 5%;
    margin-right: 25%;
    cursor: pointer;
    
}
@media(max-width:600px){
    .main_hit-it{
        margin-top: 0%;
    }
}
main .drumsection{
    display:flex;
    width: 55%;
    height: 100%;
    padding-top: 2%;
}
@media (max-width:600px){
    main .drumsection{
        width: auto;
    }
}
.drumYbotones{
    width: 100%;
    height: 100%;
    position: relative;
}
.drum{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.crash{
    height: 22%;
    width: 15%;
    background-color:rgb(255, 0, 0,0);
    position: absolute;
    top: 6%;
    left: 2%;
    border-radius: 50%;
    cursor: pointer;
}
.hit-hat{
    height: 23%;
    width: 16%;
    background-color:rgb(255, 0, 0,0);
    position: absolute;
    border-radius: 50%;
    top: 28%;
    left: 9%;
    cursor: pointer;

}
.redoblante{
    height: 30%;
    width: 21%;
    background-color:rgb(255, 0, 0,0);
    position: absolute;
    border-radius: 50%;
    bottom: 17%;
    left: 15%;
    cursor: pointer;
}
.tom1{
    height: 31%;
    width: 22%;
    background-color:rgb(255, 0, 0,0);
    position: absolute;
    border-radius: 50%;
    right: 51%;
    top: 15%;
    cursor: pointer;

}
.tom2{
    height: 31%;
    width: 22%;
    background-color: rgb(255, 0, 0,0);
    position: absolute;
    border-radius: 50%;
    left: 51%;
    top: 15%;
    cursor: pointer;
}
.ride{
    height: 22%;
    width: 15%;
    background-color:rgb(255, 0, 0,0);
    position: absolute;
    top: 6%;
    right: 3%;
    border-radius: 50%;
    cursor: pointer;
}
.tomDePiso{
    height: 23%;
    width: 16%;
    background-color: rgb(255, 0, 0,0);
    position: absolute;
    border-radius: 50%;
    top: 28%;
    right: 10%;
    cursor: pointer;

}
.platillo{
    height: 30%;
    width: 21%;
    background-color: rgb(255, 0, 0,0);
    position: absolute;
    border-radius: 50%;
    bottom: 17%;
    right: 16%;
    cursor: pointer;
}
section{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 15%;
    align-items: center;
}
@media (max-width:600px){
    section{
        padding-top: 20%;
    }

}


section p{
    text-align: center;
    font-size:  25px;
    font-weight:bold ;
    color: white;
    height: 40px;  
}
@media (max-width:600px){
    section p{
        padding-top: 20%;
        padding-bottom: 10%;
        font-size: 22px;
    }

}

.button-hit{
    display: none;
}

@media (max-width:600px){
    .button-hit{
    display:unset;
    background-color: #131313;
    width: 13rem;
    height: 13rem;
    border-radius: 100%;
    border-style:solid 0.5px;
    border-color: rgba(255, 255, 255, 0.164);
    font-size: 30px;
    font-weight: bolder;
    color:rgba(255, 255, 255, 0.164);
    box-shadow: 3px 2px 39px 5px rgba(0,0,0,0.68);
    }
}

section span{
    font-size: 15px;
    font-weight: normal;
    opacity: 0.4;
} 

@media (max-width:600px){
    section span{
        font-size: 12px;
    }    
}

section button{
text-align: center;
font-size:10px ;
font-weight:bold ;
color:black ;
border-radius:30px ;
width:7rem;
height:35px;
cursor: pointer;

}

@media (max-width:600px){
    section button{
        width: 6rem;
    }

}

.presionado{
    background-color: violet !important;
    
}

