body{
    width: 500px;
    height: 1000px;
}.container {
    display: flex;
    flex-direction: column;
    background-color: blue;
    width: 500px;
    height: 1000px;

}

nav{
    display: flex;
    flex-direction: row;
    width:100%;
    height: 20%;
    background-color: blueviolet;
}

main{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60%;
    background-color: green;
}

footer{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20%;
    background-color: grey;
}