body{
     
    width: 100%;
    max-width: 1080px;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    
    background-color: #020021;
    margin: auto;

}

  .container {
    display: flex;
    flex-direction: column;
    background-color:#020021;
    width: 100%;
    height: 100%;
    justify-content: center;
  }


nav{
    display: flex;
    flex-direction: row;
    width:100%;
    max-width: 1080px;
    height: 20%;
    background-color: #020021;
    justify-content: center;
}

@media (max-width:500px) {
    nav {
        flex-direction: column;
    }
}

.domboom {
    width: 100%;
    max-width: 1080px;
    height: 100%;
    padding: 40px;
    display: flex;
}
@media (max-width:500px) {
    .domboom{
        align-self: center;
        justify-content: center;
    }
}

.navhead {
    width: 100%;
    max-width: 500px;
    height: 100%;
    padding: 40px;
    padding-top: 22px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.ulhead {
    list-style: none; 
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    font-size: 15px;
    display: flex;
    padding-right: 20px;
    padding: 10px;
}
.ulheadbarra {
    list-style: none; 
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    font-size: 15px;
    display: flex;
    padding-right: 20px;
    padding: 10px;
}

main{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 60%;
    background-color: #020021;
    justify-content: space-around;
}

.musicfor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 600px;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.everyone{
    font-size: 50px;
    font-weight: bold;
    width: 250px;
    height: 100px;
    margin-top: -135px;
}

.millions-songs{
    font-size: 18;
    font-weight: medium;
    opacity: 50%;
    margin-top: -10px;

}

.hit-it{
    background-color: #00F482;
    color: white;
    width: 207px;
    height: 60px;
    border-radius: 50px;
    font-weight: bold;

}

.drumsection{
    display:flex;
    justify-content: center;
    width: 50%;
    max-width: 550%;
    height: auto;
    margin: 100px 100px 100px 100px;
    position: relative;
}
.drum{
    display: flex;
    width: 600px;
    height: 450px;
}

.redondo{
    height: 103px;
    width: 90px;
    background-color:red;
    position: absolute;
    border-radius: 50%;
    margin-right: 483px;
    margin-top: 25px;
    border: none;
}
.redondo2{
    height: 100px;
    width: 100px;
    background-color: red;
    position: absolute;
    border-radius: 50%;
    margin-left: 480px;
    margin-top: 25px;
}
.redondo3{
    height: 100px;
    width: 100px;
    background-color: red;
    position: absolute;
    border-radius: 50%;
    margin-left: 380px;
    margin-top: 127px;
}
.redondo4{
    height: 135px;
    width: 135px;
    background-color: red;
    position: absolute;
    border-radius: 50%;
    margin-left: 137px;
    margin-top: 70px;
}
.redondo5{
    height: 135px;
    width: 135px;
    background-color: red;
    position: absolute;
    border-radius: 50%;
    margin-right: 145px;
    margin-top: 70px;
}
.redondo6{
    height: 100px;
    width: 100px;
    background-color: red;
    position: absolute;
    border-radius: 50%;
    margin-right: 387px;
    margin-top: 127px;
}
.redondo7{
    height: 135px;
    width: 135px;
    background-color: red;
    position: absolute;
    border-radius: 50%;
    margin-right: 288px;
    margin-top: 238px;
}
.redondo8{
    height: 135px;
    width: 135px;
    background-color: red;
    position: absolute;
    border-radius: 50%;
    margin-left: 288px;
    margin-top: 238px;
}
footer{
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 20%;
    background-color:#020021;
}



.premium{
    text-align: center;
    font-size:  25px;
    margin-top: -20px;
    font-weight:bold ;
    color: white;
}

span {
    font-size: 14px;
font-weight: normal;
} 

.premium1{
text-align: center;
font-size:13px ;
font-weight:bold ;
color:black ;
border-radius:30px ;
width:150px ;
align-self: center;
height:50px ;
margin-top:-15px ;
}
